html{
    height: 100%;
    min-height: 100%;
}

body{
    overflow-x: hidden;
    margin: auto 0;
    height: 100vh;
}

.text-shadow{
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5)
}

.container{
    padding: 0;
    width: 100%;
}

.row{
    padding: 0;
}

hr{
    width: 75%;
}

.hr-mb{
    margin-bottom: 18%;
}

.section-margin{
    margin-top: 72px;
}

.flashes h4{
    color: #00c900;
    font-weight: 700;
}

.transparent{
    box-shadow: none;
    height: 125px;
}

.fas,
.far{
    margin-left: 12px;
}

.center-btn{
        text-align: center;
}

.present-buttn{
    width: 153px !important;
    margin-top: 27px;
    background-color: #00CB00;
}

.present-buttn:hover{
    background-color: #009900;
}

.present-buttn.btn:focus{
    background-color: #00CB00!important;
}


/*  Navigation CSS  */
#logo{
    margin-left: 12px;
    margin-top: 3px;
    height: 123px;
}

nav ul a {
    font-family: 'Lily Script One', cursive;
    line-height: 135px;
    font-size: 2em!important;
    color: #00CB00!important;
}

ul .nav-link a{
    font-family: 'Lily Script One', cursive;
    font-size: 2em!important;
    color: #00CB00!important;
    margin-top: 42px;
    text-align: center;
}

.navbar-scroll.scrolled{
    background-color: white!important;
    transition: 0.3s ease-in ;
}

.fas.fa-bars{
    color: #00CB00;
}

.page-indicator{
    margin-top: 100px;
    margin-bottom: 30px;
    color: #FF8119;
    text-align: center;
}


/*  Hero-Image Styling  */
.hero-img{
    z-index: -1;
    position: relative;
    top: -125px;
    background: url('../images/paprika.jpg') no-repeat top;
    background-position: center;
    background-size: cover;
    height: calc(100vh + 81px);
    margin: 0;
    width: 100%;
}

.present{
    color: #FF8119 ;
    right: 60px;
    position: absolute;
    top: 30%;
    background-color: rgb(248, 248, 248, 0.81);
}

.present h3{
    font-size: 3.5em;
}

.present h5{
    font-size: 2.3em;
}

i.medium{
    font-size: 2.5em!important;
}

.btn-wrapper {
    position: relative !important;
}

/*  Mission Section Styling. Homepage  */

.head-text{
    margin: 30px 10px;    
    color: #FF8119;
    text-align: center;
}

#green-hand{
    max-width: 100%;
}

.desk-width{
    width: 90%;
    margin: 0 auto;
}

#h-plate,
#copyright-margin{
    width: 81%;
}

#copyright-margin{
    margin: 12px auto;
}

.article-text h5{
    width: 81%;
    line-height: 1.5;
    text-align: center;
    margin: 6% auto 0 auto;
}

.icon-tainer{
    width: 90%;
    margin: 10px auto;
}

.icon-tainer i{
    font-size: 23px;
    margin: auto;
    color: #FF8119;
}

.carousel{
    max-width: 100%;
}

.row .present-buttn{
    margin: 42px auto 15px !important;
}

ul .list-style{
    margin: auto 42px auto 21px;
    list-style-type: disc!important;
}

/*  SearchBar Styling and Recipes Page  */
.input-field{
    max-width: 90%;
    margin: 0 auto;
}

.search-recipe{
    width: 75%;
    margin: 0 auto;
}

.fas.fa-search{
    margin: auto;
    color: #00CB00!important;
}

.search-btn{
    margin: 5px;
    background-color: #00FB00;
}

.search-btn:hover{
    background-color: #04af04 ;
}

.reset-btn{
    margin: 5px;
    background-color: #FF8527;
}

.reset-btn:hover{
    background-color: #c25502;
}


.category-btns{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}


.category-btns a{
    color: rgb(48, 46, 46);
    background-color: #fafafa;
    font-weight: bold;
    margin: 20px;
    width: 111px;
}

.category-btns a:hover{
    background-color: #00FB00;
}


.card-image img{
    margin-top: 10px;
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.card .card-action{
    margin-top: 24px;
    padding: 9px 24px;
}

#read-more{
    margin: auto;
    color: #FF8527;
    font-weight: bold;
}

#read-more:hover{
    color: gold;
}

.card-content{
    text-align: center;
}

.modal-content h6{
    text-align: center;
}

/*---- form Single Recipe Page ----*/
.recipe-img{
    max-width: 100%;
}

.recipe-card-icon{
    margin-right: 9px;
    font-size: 1.4rem;
    color: #ffae00;
}


/*---- form Add/Edit Recipe ----*/

.edit-card{
    padding-top: 33px;
    padding-right: 51px;
    padding-left: 42px;
    width: 80%;
    margin: auto;
}

.rem-height{
    height: 2.2rem;
}

.form-width{
    padding: 30px;
    width: 80%;
    margin: 21px auto;
}




/*  Register Form */
.form-panel{
    margin: 3% auto;
    width:50%;
}

.input-field .fas,
.input-field .far{
    margin-left: -2px;
}

.input-field .prefix.active{
    color: #FF8119;
}

p a{
    color: #f56c00;
}

/* Profile Page */

.card.m6{
    width: 47%;
    margin: 10px;
}

.card.shadow{
    width: 70%;
    margin:auto;
}

.profile-background{
    background-color: rgba(112, 255, 110, 0.25);
    text-align: center;
}

.profile-pic{
    width: 100% ;
    object-fit: cover;
    margin: 50px auto;
    border-radius: 30% 10%;
}

.add-buttn{
    margin-top: 18px;
    color: rgb(48, 46, 46);
    background-color: #fafafa;
    font-size: 19px;
    font-weight: bolder;
    
}

.add-buttn:hover{
    background-color: #00FB00;
}

.add-buttn:focus{
    background-color: #00c900;
}

.recipe-btns a{
    margin: 4px!important;
}

.col .modal-trigger,
.col .edit-btn{
    width: 81px;
    margin: 12px;
}

.modal-trigger{
    background-color: #db0202;
}

.modal-trigger:hover{
    background-color: #a30407;
}

.edit-btn{
    background-color: #00CB00;
}

.edit-btn:hover{
    background-color: #009900;
}

.modal-close.del{
    background-color: #db0202;
}

.del:hover{
    background-color: #920505;
}

.back{
    background-color: #faac1b;
}

.back:hover{
    background-color: #d68b00;
}

/* Edit Profile */
.btn-cancel{
    margin-top: 27px;
    margin-left: 21px;
}

/* Articles Page */
.article-link{
    color: #FF8119;
}

.article-link:hover{
    color: gold;
}


/* Footer */

.page-footer{
    margin-top: 72px;
    background-color: #00CB00;
    position: sticky;
    top: 100%;
}

.align{
    text-align: center;
}

.social-icon{
    font-size: 1.8em;
    margin-right: 12px;
}


/* Media Queries */

@media screen and (min-width: 750px){
    .hr-mt{
        margin-top: 63px;;
    }
    .hr-mb{
        margin-bottom: 87px;
    }

    .access-opts{
        display: flex;
    }

    .access-opts p{
        margin: 48px auto 15px;
    }

    .title-margin{
    text-align: center;
    margin: 6% auto;
}
    
}

@media screen and (min-width: 1023px){
    .hide-on-med-and-down li a{
        font-size: 21px!important;
    }

    .ml-screen-margin{
        margin-top: 21%;
    }

}

@media screen and (min-width: 1028px){
    .ml-screen-margin{
        margin-top: -1%;
    }

    .center-text{
        display: grid;
        margin: 8% 15%;
    }
    #h-plate,
    #copyright-margin,
    .article-text h5{
        width: 50%;
    }

    ul h6{
        margin-top: 27px;
    }

    .title-margin{
        margin: 3% auto;
        font-size: 2.28em;  
    }

    .card.shadow{
        width: 40%;
    }
}

@media screen and (max-width: 770px){
    .present-logo{
        width: 33%;
    }

    .center-text p{
        margin: 15px auto;
        font-size: large;
        text-align: center;
        width:81%
    }

    .title-margin{
        text-align: center;
        margin: 6% auto;
    }

    .form-panel{
    width:70%;
    }


}

@media screen and (max-width: 560px) {
    .hr-mt{
    margin-top: 18%;
    }

    .valign-wrapper{
        display: block;
    }

    .icon-tainer{
        margin: 21px auto;
        width: 84%;
    }

    #next-ingr{
        margin-left: 7%;
    }
}

@media screen and (max-width: 420px) {
    .transparent{
        height: 115px;
    }

    #logo{
        max-width: 170px;
        height: auto;
    }

    .present{
        left: 201px;
        top: 22%;
    }

    .present h5{
        display: none;
    }

    .present-logo{  
        width: 80%;
    }

    .center-text p{
        margin: 15px auto;
        font-size: inherit;
        text-align: center;
        width:90%
    }

    #h-plate,
    #copyright-margin,
    .article-text h5{
        width: 90%;
    }

    .article-text h5{

        margin: 15% auto 0 auto;
    }

    .icon-tainer{
        width: 90%;
    }

    .form-panel{
        width:80%;
    }

    .card.shadow{
        width: 80%;
    }

    .add-buttn{
        font-size: 15px;
    }

    .edit-card{
        width: 85%;
        padding-right: 27px;
        padding-left: 18px;
    }

    .edit-card .prefix{
        font-size: 1.5rem;
    }

    rem-height{
        height: 1.8rem;
    }

}


@media screen and (max-width: 360px) {
    .transparent{
        height: 95px;
    }

    #logo{
        max-width: 126px;
        height: auto;
    }

    .present{
        right: 1px!important;
        left: 150px;
    }

    .present h3{
        font-size: 3.2em;
    }

}


@media screen and (max-width: 280px) {
    .present{
        left: 109px!important;
    }

}