html{
    height: 100%;
    min-height: 100%;
}

body{
    overflow-x: hidden;
    margin: auto 0;
    height: 100vh;
}

.text-shadow{
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5)
}

.container{
    padding: 0;
    width: 100%;
}

.row{
    padding: 0;
}

hr{
    width: 75%;
}

.section-margin{
    margin-top: 72px;
}

.flashes h4{
    color: #00c900;
    font-weight: 700;
}

.transparent{
    box-shadow: none;
    height: 125px;
}

.fas,
.far{
    margin-left: 12px;
}

.present-buttn{
    width: 153px !important;
    margin-top: 27px;
    background-color: #00CB00;
}

.present-buttn:hover{
    background-color: #009900;
}


/*  Navigation CSS  */
#logo{
    margin-left: 12px;
    margin-top: 3px;
    height: 123px;
}

nav ul a {
    font-family: 'Lily Script One', cursive;
    line-height: 135px;
    font-size: 2em!important;
    color: #00CB00!important;
}

ul .nav-link a{
    font-family: 'Lily Script One', cursive;
    font-size: 2em!important;
    color: #00CB00!important;
    margin-top: 42px;
    text-align: center;
}

.navbar-scroll.scrolled{
    background-color: white!important;
    transition: 0.3s ease-in ;
}

.fas.fa-bars{
    color: #00CB00;
}

.page-indicator{
    margin-top: 100px;
    margin-bottom: 30px;
    color: #FF8119;
    text-align: center;
}


/*  Hero-Image Styling  */
.hero-img{
    z-index: -1;
    position: relative;
    top: -125px;
    background: url('../images/paprika.jpg') no-repeat top;
    background-position: center;
    background-size: cover;
    height: calc(100vh + 81px);
    margin: 0;
    width: 100%;
}

.present{
    color: #FF8119 ;
    right: 60px;
    position: absolute;
    top: 30%;
}

.present h3{
    font-size: 3.5em;
}

.present h5{
    font-size: 2.3em;
}

i.medium{
    font-size: 2.5em!important;
}

.btn-wrapper {
    position: relative !important;
}

/*  Mission Section Styling. Homepage  */

.head-text{
    margin: 30px 10px;    
    color: #FF8119;
    text-align: center;
}

#green-hand{
    max-width: 100%;
}

.desk-width{
    width: 90%;
    margin: 0 auto;
}

#h-plate{
    width: 100%;
}

.carousel{
    max-width: 100%;
}

.row .present-buttn{
    margin: 42px auto 15px !important;
}

ul .list-style{
    margin: auto 42px auto 21px;
    list-style-type: disc!important;
}

/* Sliding/Transition effects*/

.text-1-slide-init{
    opacity: 0;
    width: 95%;
    transform: translateY(0px);
    transition: 0.6s all ease-in;
    -webkit-transition: 0.6s all ease-in;
    -moz-transition: 0.6s all ease-in;
    -o-transition: 0.6s all ease-in;
}

.text-1-slide-end{
    opacity: 0;
    transform: translateY(-33px);
    transition: 0.6s all ease-in-out;
    -webkit-transition: 0.6s all ease-in-out;
    -moz-transition: 0.6s all ease-in-out;
    -o-transition: 0.6s all ease-in-out;

}

/*  SearchBar CSS  */
.input-field{
    margin: 0 auto;
}

.search-recipe{
    width: 75%;
    margin: 0 auto;
}

.fas.fa-search{
    margin: auto;
    color: #00CB00!important;
}

.search-btn{
    margin: 5px;
    background-color: #00FB00;
}

.reset-btn{
    margin: 5px;
    background-color: #FF8527;
}

.category-btns{
    width: 100%;
    margin: 20px auto;
    text-align: center;
}

.category-btns a{
    color: rgb(48, 46, 46);
    background-color: #fafafa;
    font-weight: bold;
    margin: 20px;
    width: 111px;
}


/* Recipes Page */
.card-image img{
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.card-action{
    display: inline-block;
}
.card-action #read-more{
    color: #FF8527;
    font-weight: bold;
}

.card-content{
    text-align: center;
}

.modal-content h6{
    text-align: center;
}

/*---- form Add/Edit Recipe ----*/

.form-width{
    width: 80%;
    margin: 21px auto;
}



/* Footer */

.page-footer{
    margin-top: 72px;
    background-color: #00CB00;
    position: sticky;
    top: 100%;
}

.align{
    text-align: center;
}

.social-icon{
    font-size: 1.8em;
    margin-right: 12px;
}

/*  Register Form */
.form-panel{
    margin: 3% auto;
    width:50%;
}

.input-field .fas{
    margin-left: 0;
}

.input-field .prefix.active{
    color: #FF8119;
}

p a{
    color: #f56c00;
}

/* Profile Page */

.card.shadow{
    width: 70%;
    margin:auto;
}

.profile-background{
    background-color: #76ff03;
    text-align: center;
}

.profile-pic{
    width:60% ;
    object-fit: cover;
    margin: 50px auto;
    border-radius: 30% 10%;
}

.col .modal-trigger,
.col .edit-btn{
    width: 81px;
    margin: 12px;
}

.modal-trigger{
    background-color: #db0202;
}

.modal-trigger:hover{
    background-color: #a30407;
}

.edit-btn{
    background-color: #00CB00;
}

.modal-close.del{
    background-color: #db0202;
}

.modal-close.back{
    background-color: #faac1b;
}


/* Media Queries */

@media screen and (min-width: 750px){
    .access-opts{
        display: flex;
    }

    .access-opts p{
        margin: 48px auto 15px;
    }

    #title-margin{
    text-align: center;
    margin-bottom: 6%;
    margin-top: 3%;
}
    
}

@media screen and (min-width: 1023px){
    .ml-screen-margin{
        margin-top: 21%;
    }
    .article-text{
        display: grid;
        margin: 8% 3%;
    }
}

@media screen and (min-width: 1028px){
    .ml-screen-margin{
        margin-top: -1%;
    }
    .center-text{
        position: absolute;
        display: grid;
        margin: 8% 15%;
}
    .article-text{
        display: grid;
        margin: 8% 14%;
    }

    ul h6{
        margin-top: 27px;
    }

    ul .list-style{
    margin: 8% 42px auto 21px !important;
    }

    .card.shadow{
        width: 40%;
    }
}

@media screen and (max-width: 770px){
    .present-logo{
        width: 39%;
    }

    .form-panel{
    width:70%;
}
}

@media screen and (max-width: 420px) {
.transparent{
    height: 115px;
}

    #logo{
        max-width: 170px;
        height: auto;
    }

    .present{
        left: 201px;
        top: 22%;
    }

    .present h5{
        display: none;
    }

    .present-logo{  
        width: 80%;
    }

    .form-panel{
    width:80%;
}

    .card.shadow{
        width: 80%;
    }

    .profile-pic {
    width: 90%;
    }

}


@media screen and (max-width: 360px) {
    .transparent{
        height: 95px;
    }

    #logo{
        max-width: 126px;
        height: auto;
    }

    .present{
        right: 1px!important;
        left: 150px;
    }

    .present h3{
        font-size: 3.2em;
    }

}


@media screen and (max-width: 280px) {
    .present{
        left: 109px!important;
    }

}