body{
    overflow-x: hidden;
    margin: auto 0;
}

.text-shadow{
    text-shadow: 2px 3px 3px rgba(0, 0, 0, 0.5)
}

.container{
    padding: 0;
    width: 100%;
}

.row{
    padding: 0;
}

hr{
    width: 90%;
}

.flashes h4{
    line-height: 2;
}

.transparent{
    box-shadow: none;
    height: 125px;
}


/*  Navigation CSS  */
#logo{
    margin-left: 12px;
    margin-top: 3px;
    height: 123px;
}

nav ul a{
    font-family: 'Lily Script One', cursive;
    line-height: 135px;
    font-size: 2em;
    color: #00CB00;
}


/*  Hero-Image, Landing Page Styling  */
.hero-img{
    z-index: -1;
    position: relative;
    top: -125px;
    background: url('../images/paprika.jpg') no-repeat top;
    background-position: center;
    background-size: cover;
    height: calc(100vh + 81px);
    margin: 0;
    width: 100%;
}

.present{
    color: #FF8119 ;
    right: 60px;
    position: absolute;
    top: 30%;
}

.present h3{
    font-size: 3.5em;
}

.present h5{
    font-size: 2.3em;
}

i.medium{
    font-size: 2.5em!important;
}

.present-btn{
    margin-top: 27px;
    background-color: #00CB00;
}

/*  Mission Section Styling  */

.head-text{
    color: #FF8119;
    text-align: center;
}

#green-ball{
    max-width: 100%;
}

.desk-width{
    width: 90%;
    margin: 0 auto;
}

#h-plate{
    width: 100%;
}

.carousel{
    max-width: 100%;
}


/*  SearchBar CSS  */
.search-rec{
    width: 90%;
    margin: 0 auto;
}


/* Recipe Cards Style */
.card-image img{
    height: 180px;
    object-fit: cover;
    width: 100%;
}

.card-action{
    display: inline-block;
}

.card-content{
    text-align: center;
}

/*---- form Add/Edit Recipe ----*/

.form-width{
    width: 80%;
    margin: 21px auto;
}



/* Footer */

.page-footer{
    margin-top: 60px;
    background-color: #00CB00;
}

.align{
    text-align: center;
}

.social-icon{
    font-size: 1.8em;
    margin-right: 12px;
}