{% extends "base.html" %}
{% block content %}

    

<section>
    <h3 class="page-indicator"> Add Recipe </h3>
    
        <div class="row">
            <form class="form-width col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <div class="card-panel edit-card">

                <!-- Recipe Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-dot-circle prefix"></i>
                        <input type="text" class="form-control validate" id="recipe_name" placeholder="Recipe Name"
                        name="recipe_name" aria-describedby="recipe_name" minlength="3" maxlength="25" required></div>
                </div>

                <!-- Category -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix"></i>
                            <select name="category_name" id="category_name" class="form-control validate" required>
                                <option value="" selected disabled>Select Category</option>
                                <option>Breakfast</option>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                    </div>
                </div>

                <!-- Brief Description -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="fas fa-concierge-bell prefix"></i>
                            <label for="description">Brief Description</label>
                            <input type="text" class="form-control validate" name="description" id="description" aria-describedby="description" maxlength="90" required>
                    </div>
                </div>
                
                <!-- Image URL -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="fas fa-camera prefix"></i>
                            <label for="recipe_image">Image URL</label>
                            <input type="text" class="form-control validate" name="recipe_image" 
                            id="recipe_image" aria-describedby="recipe_image" required>
                    </div>
                </div>
            
                <!-- Image Source -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="far fa-copyright prefix"></i>
                            <label for="image_source">Image Artist or Website</label>
                            <input type="text" class="form-control validate" name="image_source" id="image_source"
                                aria-describedby="image_source" required>
                    </div>
                </div>
                
                <!-- Difficulty -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="fas fa-dumbbell prefix"></i>
                            <select  class="form-control validate" name="difficulty" id="difficulty" required>
                                <option value="" selected disabled>Select Level</option>
                                <option>Easy</option>
                                <option>Medium</option>
                                <option>Hard</option>
                            </select>
                    </div>
                </div>
            
                <!-- Prep time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-clock prefix"></i>
                            <label for="prep_time">Prep Time (HH:MM)</label>
                            <input type="text" class="form-control validate" name="prep_time"
                            id="prep_time" aria-describedby="prep_time" required>
                    </div>
                </div>
            
                <!-- Ingredients -->
                <div class="row">
                    <div class="input-field col s12 ingr-input" id="ingr-input">
                            <i class="far fa-list-alt prefix"></i>
                            <label for="ingredients">Ingredients</label>
                            <input type="text" class="form-control validate" name="ingredients" id="ingredients"
                            aria-describedby="ingredients" minlength="3" required>
                    </div>
                </div>

                <!--Add Next Ingredient button-->
            <div class="row">
                <div class="input-field col s1">
                    <a href="#" class=" prefix">
                        <i class="fas fa-plus add-ingr-buttn"></i>
                </a>
                </div>
            </div>
                
                <!-- Preparation -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="far fa-list-alt prefix"></i>
                            <label for="preparation">Preparation</label>
                            <input type="text" class="form-control validate" name="preparation" id="preparation"
                            aria-describedby="preparation" required>
                    </div>
                </div>

                <!--Add Preparation Step button-->
            <div class="row">
                <div class="input-field col s1">
                    <a href="#" class="add-step-buttn prefix">
                        <i class="fas fa-plus"></i>
                </a>
                </div>
            </div>
            
                

                <!-- Add/Cancel Buttons -->
                <div class="row center-align">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light present-buttn" type="submit" name="action">Add Recipe</button>
                            <a href="{{ url_for('get_recipes') }}" class="back  btn btn-cancel" >Cancel</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
</section>

{% endblock %}