{% extends "base.html" %}
{% block content %}

<h3 class="page-indicator"> Articles </h3>

<!-- Card-Panel Wrapping all the Articles in the Page -->
<div class="card card-panel articles-panel">
   <div class="row valign-wrapper">
      <div class="col s12 m6">
         <img src="../static/images/eart-on-plant.jpg" alt="Planet earth on a plant">
      </div>
      <div class="col s12 m6 center-align">
         <h4 class="article-link"><a
            href="https://www.hsph.harvard.edu/nutritionsource/sustainability/plate-and-planet/"
            target="_blank"> Plate and the Planet</a> </h4>
         <p class="xl-width">In this article is discussed the differnt impact of the different food products on the planet and the
            suggested quantity to eat (in grams per day) calculated on a healthy body in order to keep it so.
         </p>
      </div>
   </div>

   <hr>

   <div class="row valign-wrapper ">
      <div class="col s12 m6">
         <img src="../static/images/vegetable-fridge.jpg" alt="Vegetables in a fridge">
      </div>
      <div class="col s12 m6 center-align">
         <h4 class="article-link"><a
            href="https://www.hsph.harvard.edu/nutritionsource/sustainability/food-waste/food-waste-home/"
            target="_blank">How to Shopping and Storing</a> 
         </h4>
         <p class="xl-width">This article contains shopping tips to minimize food waste, as well as tips to store and use the
            products when they are at their best.
         </p>
      </div>
   </div>

   <hr>
   
   <div class="row valign-wrapper">
      <div class="col s12 m6">
         <img src="../static/images/weekly-timetable.jpg" alt="Weekly timetable on paper">
      </div>
      <div class="col s12 m6 center-align">
         <h4 class="article-link"><a href="https://www.hsph.harvard.edu/nutritionsource/meal-prep/"
            target="_blank">Weekly Meal
            Prep</a>
         </h4>
         <p class="xl-width">As The title says, here you'll find some ideas on how to build a week meal plan, the advantages of
            it, and the storing times for your cooked or cut food.
         </p>
      </div>
   </div>

   <hr>

   <div class="row valign-wrapper ">
      <div class="col s12 m6">
         <img src="../static/images/vege-table.jpg" alt="Plate filled with cut vegetables on a table">
      </div>
      <div class="col s12 m6 center-align">
         <h4 class="article-link"><a href="https://www.hsph.harvard.edu/nutritionsource/strategies-nutrition-budget/"
            target="_blank">
            Strategies for Eating Well on a Budget</a>
         </h4>
         <p class="xl-width">Even though the article is focused on the American Market the strategies outlined can be used by
            everyone who struggles with managing the fridge and the pocket in a healthy way.
         </p>
      </div>
   </div>

   <hr>

   <div class="row valign-wrapper">
      <div class="col s12 m6">
         <img src="../static/images/crop-fields-view.jpg" alt="View of crop fields and hills">
      </div>
      <div class="col s12 m6 center-align">
         <h4 class="article-link"><a
            href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31788-4/fulltext?utm_campaign=tleat19&utm_source=hub_page"
            target="_blank">Healthy Diets from Sustainable Food Systems</a></h4>
         <p class="xl-width">This is an extensive article from The Lancet with a big amount of data on the relations between
            healthy diets and resources management.
         </p>
      </div>
   </div>

   <hr>

   <div class="row valign-wrapper">
      <div class="col s12 m6">
         <img src="../static/images/eart-light-bulb.jpg" alt=" Planet earth in a light bulb">
      </div>
      <div class="col s12 m6 center-align">
         <h4 class="article-link">
            <a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(07)61256-2/fulltext"
               target="_blank">Food, Livestock Production, Energy, Climate Change, and Health</a>
         </h4>
         <p class="xl-width">A long historical view till nowadays consumption, a specific section on the relation between
            agricultural and red meat emissions and prospects for food yields.
         </p>
      </div>
   </div>
</div>

{% endblock %}