{% extends "base.html" %}
{% block content %}




<ul>
            <li>
                <h6><a href="https://www.hsph.harvard.edu/nutritionsource/sustainability/plate-and-planet/"
                        target="_blank"> Plate and the Planet</a>: <br></h6>
                <p>In this article is discussed the differnt impact of the different food products on the planet and the
                    suggested quantity to eat (in grams per day) calculated on a healthy body in order to keep it so.
                </p>
            </li>
            <li>
                <h6><a href="https://www.hsph.harvard.edu/nutritionsource/sustainability/food-waste/food-waste-home/"
                        target="_blank">How to Shopping and Storing</a>: <br></h6>
                <p>This article contains shopping tips to minimize food waste, as well as tips to store and use the
                    products when they are at their best.</p>
            </li>
            <li>
                <h6><a href="https://www.hsph.harvard.edu/nutritionsource/meal-prep/" target="_blank">Weekly Meal
                        Prep</a>: <br></h6>
                <p>As The title says, here you'll find some ideas on how to build a week meal plan, the advantages of
                    it, and the storing times for your cooked or cut food.</p>
            </li>
            <li>
                <h6><a href="https://www.hsph.harvard.edu/nutritionsource/strategies-nutrition-budget/" target="_blank">
                        Strategies for Eating Well on a Budget</a>: <br></h6>
                <p>Even though the article is focused on the American Market the strategies outlined can be used by
                    everyone who struggles with managing the fridge and the pocket in a healthy way.</p>
            </li>
            <li>
                <h6><a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(18)31788-4/fulltext?utm_campaign=tleat19&utm_source=hub_page"
                        target="_blank">Healthy Diets from Sustainable Food Systems</a>: <br></h6>
                <p>This is an extensive article from The Lancet with a big amount of data on the relations between
                    healthy diets and resources management.</p>
            </li>
            <li>
                <h6><a href="https://www.thelancet.com/journals/lancet/article/PIIS0140-6736(07)61256-2/fulltext"
                        target="_blank">Food, livestock production, energy, climate change, and health</a>: <br></h6>
                <p>A long historical view till nowadays consumption, a specific section on the relation between
                    agricultural and red meat emissions and prospects for food yields.</p>
            </li>
        </ul>




{% endblock %}