{% extends "base.html" %}
{% block content %}

    <h3  class="page-indicator"> Edit Recipe </h3>

<section>
<div class="row">
    <form class="form-width col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <div class="card-panel edit-card">

                <!-- Recipe Name -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-dot-circle prefix"></i>
                        <input type="text" class="form-control validate" id="recipe_name" placeholder="Recipe Name"
                        value="{{ recipe.recipe_name }}"
                        name="recipe_name" aria-describedby="recipe_name" minlength="3" maxlength="25" required></div>
                </div>

                <!-- Category -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-folder-open prefix"></i>
                    <select name="category_name" id="category_name" class="form-control validate" required>
                                <option value="" selected disabled>{{ recipe.category_name }}</option>
                                <option>Breakfast</option>
                                <option>Lunch</option>
                                <option>Dinner</option>
                            </select>
                    </div>
                </div>

                <!-- Brief Description -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="fas fa-concierge-bell prefix"></i>
                            <label for="description">Brief Description</label>
                            <input type="text" value="{{ recipe.description }}" class="form-control validate" name="description" id="description" aria-describedby="description" maxlength="90" required>
                    </div>
                </div>
                
                <!-- Image URL -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="fas fa-camera prefix"></i>
                            <label for="recipe_image">Image URL</label>
                            <input type="text" value="{{ recipe.recipe_image }}" class="form-control validate" name="recipe_image" 
                            id="recipe_image" aria-describedby="recipe_image" required>
                    </div>
                </div>
            
                <!-- Image Source -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="far fa-copyright prefix"></i>
                            <label for="image_source">Image Artist or Website</label>
                            <input type="text" value="{{ recipe.image_source }}" class="form-control validate" name="image_source" id="image_source"
                                aria-describedby="image_source" required>
                    </div>
                </div>
                
                <!-- Difficulty -->
                <div class="row">
                    <div class="input-field col s12">
                            <i class="fas fa-dumbbell prefix"></i>
                            <select  class="form-control validate" name="difficulty" id="difficulty" required>
                                <option value="{{ recipe.difficulty }}" selected disabled>{{ recipe.difficulty }}</option>
                                <option>Easy</option>
                                <option>Medium</option>
                                <option>Hard</option>
                            </select>
                    </div>
                </div>

                <!-- Servings quantity -->                
                <div class="row">
                    <div class="input-field col s12">
                            <i class="fas fa-mitten prefix"></i>
                            <label for="servings">Number of Servings</label>
                            <input type="text" value="{{ recipe.servings }}" class="form-control validate" name="servings" id="servings"
                                aria-describedby="servings" required>
                    </div>
            
                <!-- Prep time -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="far fa-clock prefix"></i>
                            <label for="prep_time">Prep Time (HH:MM)</label>
                            <input type="text" value="{{ recipe.prep_time }}" class="form-control validate" name="prep_time"
                            id="prep_time" aria-describedby="prep_time" required>
                    </div>
                </div>
            
                <!-- Ingredients -->
                <div class="row">
                    <div class="input-field col s12 ingr-input">
                            <i class="far fa-list-alt prefix"></i>
                            {% for ingredient in recipe.ingredients %}
                            <input id="ingredients" name="ingredients" type="text" aria-describedby="ingredients" minlength="3" value="{{ ingredient }}"
                        class="validate" required>
                            {% endfor %}
                            
                            
                    </div>
                </div>

                <!--Add Next Ingredient button-->
            <div class="row rem-height">
                <div class="input-field col s1">
                    <a href="#" class=" prefix">
                        <i class="fas fa-plus add-ingr-buttn"></i>
                    </a>
                </div>
            </div>
                
                <!-- Preparation -->
                <div class="row step-input">
                    <div class="input-field col s12">
                    <i class="far fa-list-alt prefix"></i>
                    <!--jinja for loop to display every method entry in array-->
                    {% for step in recipe.preparation %}
                    <textarea id="preparation" name="preparation" type="text" class="form-control validate" aria-describedby="preparation" required>{{ step }}</textarea>
                    {% endfor %}
                    </div>
                </div>

                <!--Add Preparation Step button-->
            <div class="row rem-height">
                <div class="input-field col s1">
                    <a href="#" class="add-step-buttn prefix">
                        <i class="fas fa-plus"></i>
                </a>
                </div>
            </div>
                

                <!-- Add/Cancel Buttons -->
                <div class="row center-align">
                    <div class="col s12">
                        <button class="btn waves-effect waves-light present-buttn" type="submit" name="action">Add Recipe</button>
                            <a href="{{ url_for('get_recipes') }}" class="back  btn btn-cancel" >Cancel</a>
                    </div>
                </div>
            </div>
            </form>
        </div>
</section>

{% endblock %}