{% extends "base.html" %}
{% block content %}

<h3 class="page-indicator"> Your Profile </h3>

<!-- User Card -->
<div class="card shadow">
   <div class="row">
      <div class="col s12 profile-background">
         <img class="profile-pic" src="{{ user.user_img }}" alt="user profile picture"
            onerror="this.onerror=null;this.src='../static/images/dough-maker.jpg';">
      </div>
   </div>
   <div class="row">
      <div class="col s12">
         <h5 class="center-align"> {{ user.username.title() }} Chef Profile</h5>
      </div>
   </div>
   <div class="row">
      <div class="col s12 center-align">

         <!-- Modal Elements to Edit/Delete profile -->
         <a href="#modal-question" class="modal-trigger btn ">Delete</a>
         <div class="modal" id="modal-question">
            <div class="modal-content">
               <h4 class="page-indicator">Delete your profile?</h4>
               <h6>Are you sure you want to delete your profile?</h6>
            </div>
            <div class="modal-footer">
               <a href="{{ url_for('delete_profile', username=user.username) }}" class="btn-small modal-close del">
               Delete</a>
               <a class="btn-small modal-close back">Go Back</a>
            </div>
         </div>
         <a href="{{ url_for('edit_profile', username=user.username) }}" class="btn edit-btn">Edit</a>
      </div>
   </div>
</div>


   <!-- Add a new Recipe-->
   <div class="row">
   <div class="col s12 head-text">
      <h3>Share new recipe?</h3>
      <a href="{{ url_for('add_recipe') }}" class="btn-large add-buttn"> Add Recipe</a>
   </div>
</div>
<div class="row">
   <div class="col s12 head-text">
      <h3>Shared Recipes:</h3>
   </div>
</div>
<div class="row" style="max-width: 90%;">

   {% for recipe in recipes %}
   <div class="col s12 m6 l4">
      <div class="card">
         <div class="card-image">
            <img src="{{ recipe.recipe_image }}"
               onerror="this.onerror=null;this.src='../static/images/dough-maker.jpg';"
               alt="{{ recipe.recipe_name }}">
         </div>
         <div class="card-content">
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
               <h6 class="recipe-name">{{ recipe.recipe_name }}</h6>
            </a>
            <h6>{{ recipe.category_name }}</h6>
            <div class="row">

               <!-- Access Recipe Button-->
               <div class="card-action">
                  <a id="read-more" href="{{ url_for('recipe', recipe_id=recipe._id) }}">Read More...</a>
               </div>

               <!-- Biased Edit/Delete Recipe Functions -->
               <div class="card-action recipe-btns">
                  {% if session.user == 'admin' or session.user|lower == recipe.created_by|lower %}
                  <a href="#modal-question" class="modal-trigger btn del">Delete</a>
                  <div class="modal" id="modal-">
                     <i class="fas fa-exclamation-circle red-text text-darken-3"></i>
                     <p>
                        Do you want to Delete this recipe?
                     </p>
                     <div>
                        <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                           class="btn-small modal-close"> Delete</a>
                        <a class="btn-small modal-close">Cancel</a>
                     </div>
                  </div>
                  <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="edit-btn btn">Edit</a>
                  {% endif %}
               </div>
            </div>
         </div>
      </div>
   </div>

   {% endfor %}
</div>

<!-- Pagination inspired by the fellow student code https://github.com/AudreyLL88/MS3__Sante/blob/master/templates/profile.html and this Flask Tutorial Blog https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-ix-pagination -->

{% if search == False %}
<div class="row">
   <div class="col s12 center-align">
      <ul class="pagination page">
         {% for i in range(0, count) %}
         {% if i+1 == page %}
         <li class="active">
            <a href="#">
               {% else %}
         <li class="waves-effect"><a href="{{ url_for('profile', username=user.username, page=i+1) }}">
         {% endif %}
         {{ i + 1  }}
         </a></li>
         {% endfor %}
         </a></li>
      </ul>
   </div>
</div>
{% endif %}

{% endblock %}