{% extends "base.html" %}
{% block content %}

    <h3 class="page-indicator">{{ recipe.recipe_name }}</h3>
    
    <div class="card-panel" style="width: 85%;margin: auto;">
    <div class="row">
        
            <div class="col s12 l6">
                <img class="recipe-img" src="{{ recipe.recipe_image }}" alt="{{ recipe.recipe_name }}">
                <figcaption><i class="fas fa-camera recipe-card-icon"></i> Credits: {{ recipe.image_source }}</figcaption>
            </div>
                <div class="col s12 l6">
                    <div>
                        <p>
                            <i class="far fa-folder-open recipe-card-icon"></i>  Category: <strong>{{ recipe.category_name }}</strong>
                        </p>
                    </div>
                    <div>
                        <p>
                            <i class="far fa-clock recipe-card-icon"></i>  Time: <strong>{{ recipe.prep_time }}</strong>
                        </p>
                    </div>
                    <div>
                        <p>
                            <i class="fas fa-dumbbell recipe-card-icon"></i>  Difficulty: <strong>{{ recipe.difficulty }}</strong>
                        </p>
                    </div>
                    <div>
                        <p>
                            <i class="fas fa-mitten recipe-card-icon"></i>  Servings:  <strong>{{ recipe.servings }}</strong>
                        </p>
                    </div>
                    <div>
                        <p>
                           <i class="fas fa-user-alt recipe-card-icon"></i> Created By: <strong>{{ recipe.created_by }}</strong>
                        </p>
                    </div>
                    <div class="card-action recipe-btns">
                        <a href="/get_recipes/" class="back  btn btn-cancel">Cancel</a>
                            {% if session.user == 'admin' or session.user|lower == recipe.created_by|lower %}

                            <a href="#modal-question" class="modal-trigger btn del">Delete</a>

                            <div class="modal" id="modal-">

                                <i class="fas fa-exclamation-circle red-text text-darken-3"></i>
                                <p>
                                    Do you want to Delete this recipe?
                                </p>

                                <div>
                                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"
                                        class="btn-small modal-close"> Delete</a>
                                    <a class="btn-small modal-close">Cancel</a>
                                </div>
                            </div>

                            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="edit-btn btn">Edit</a>
                            {% endif %}
                        </div>
                </div>
        </div>
        </div>


        <div class="col s12 m12">
            <span>Ingredients:<br></span>
            <span>{{ recipe.ingredients }}</span>
        </div>

        <div class="col s12 m12">
            <span>Preparation: <br></span>
            <span>{{ recipe.preparation }}</span>
        </div>


        <div class="col s12 center-align">
            <div class="col s4">
                <a href="{{ url_for('get_recipes') }}" class="btn btn-light">Recipes</a>
            </div>
            {% if session.user|lower == recipe.created_by|lower %}

            <div class="col s4">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small">Edit</a>
            </div>

            <div class="col s4"><a href="#modal-question" 
                class="btn-small light-blue lighten-1 modal-trigger">Delete</a>
            </div>


            <div class="modal" id="modal-question">
                <div>
                    <i class="fas fa-exclamation-circle red-text text-darken-3"></i>
                    <p>
                        Do you want to Delete this recipe?
                    </p>
                </div>
                <div>
                    <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small modal-close"> Delete</a>
                    <a class="btn-small modal-close">Cancel</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

{% endblock %}